workflows/01-drive-to-pinecone-ingestion.json
{
  "name": "01 - MCP Flagship - Drive to Pinecone Ingestion",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Tesla Earnings",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_GOOGLE_DRIVE_FOLDER_ID"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "25f1b2db-091b-41fe-a708-7ecc5c0117b4",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "2e7e8f64-b20f-4dbc-8ee8-876cfd072363",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ntesla",
          "mode": "list",
          "cachedResultName": "n8ntesla"
        },
        "options": {
          "pineconeNamespace": "tesla-financials-v1"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "12887a8b-7088-423a-bba3-b55fb61dae93",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "YOUR_PINECONE_CREDENTIAL_ID",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        208
      ],
      "id": "2ee30ce2-6a50-4d97-a986-cf2561f78917",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source_file",
                "value": "={{ $json.name }}"
              },
              {
                "name": "company",
                "value": "Tesla"
              },
              {
                "name": "fiscal_year",
                "value": "={{ $json.name.match(/20\\d{2}/)?.[0] || '' }}"
              },
              {
                "name": "fiscal_quarter",
                "value": "={{ $json.name.match(/Q[1-4]/i)?.[0]?.toUpperCase() || '' }}"
              },
              {
                "name": "document_type",
                "value": "earnings_update"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        464,
        160
      ],
      "id": "b95996a4-0bda-4b41-a444-822744a01a6e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 900,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        448,
        320
      ],
      "id": "6ad7af67-ddeb-4e1f-ac13-5a5ac4c3073f",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "Purpose:\nIngest Tesla quarterly earnings PDFs from Google Drive into Pinecone.\n\nFlow:\nGoogle Drive upload → PDF download → text extraction → chunking → metadata tagging → OpenAI embeddings → Pinecone storage.\n\nMetadata:\nsource_file, company, fiscal_year, fiscal_quarter, document_type.\n\nPinecone:\nIndex: n8ntesla\nNamespace: tesla-financials-v1",
        "height": 320,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -752,
        0
      ],
      "id": "a07b6e73-79b3-43ed-ba4d-37411e024ac6",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "108ff48e-df78-49af-8bd3-49ff6a29a31a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a22fd1a5508253ad155401c1deb135d8f0ab5bf8236d3cf7b8174ed5c1dbdc37"
  },
  "id": "OVnLSsZk1paQcgEG",
  "tags": [
    {
      "updatedAt": "2026-05-07T19:46:50.890Z",
      "createdAt": "2026-05-07T19:46:50.890Z",
      "id": "h8wGcG8aeYx2WiUM",
      "name": "n8n"
    }
  ]
}
